<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>

        <springProperty name="logging.destination" source="logging.destination" defaultValue="localhost"/>

        <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logging.destination}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"service_name":"@project.artifactId@","service_version":"@project.version@"}
                </customFields>
            </encoder>
        </appender>

        <root>
            <appender-ref ref="stash"/>
        </root>
    </springProfile>
    <springProfile name="local">
        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n" />

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>